* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
    font-family:'Fredoka', sans-serif;
}

.titolo{
    margin-top: 20px;
    font-family: 'Fredoka', sans-serif;
    color: rgb(218, 72, 96);
    font-size: 30px;
    text-align: center;
}

.lorem{
    font-family: 'Fredoka', sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
    background-color: white;
    color: black;

}

.contenitore{
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

a{
    float: left;
}


.testo{
    padding-top: 5%;
}


h3 {
    color: white;
    float: left;
}

p {
    color: white;
    text-align: left;
    float: left;
}

img {
    float: left;
    margin-right: 1.5rem;
    width: 100px;
}

.box {
    margin-top: 20px;
    margin-left: 15px;
    background-color: black;
    width: calc(33% - 1rem);
    float: left;
    box-shadow: 5px 15px 10px grey;
}