* {
	/* margin: 0;
	padding: 0; */
	box-sizing: border-box;
}

.titolo{
    font-family: 'Fredoka', sans-serif;
    color: rgb(218, 72, 96);
    font-size: 30px;
    text-align: center;
}

.lorem{
    font-family: 'Fredoka', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}


.container{
    clear: both;
}


.primobox{
    background-color: black;
    width: 300px;
    height: 80px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    display: inline-block;
    float: left;
}

.immagine1{
    width: 80px;
    height: 80px;
}